
<h3 style="text-align: center; "><b>Welcome to login page</b> </h3>

<div class="demo">
    <div class="alert alert-danger alert-dismissible fade show " role="alert" *ngIf="alert" >
        <strong>Error !</strong> You have entered wrong credential .
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
      </div>
      <form [formGroup]="Login" (ngSubmit)="LoginData()">
          <div class="mb-3">
            <label  class="form-label">UserName</label>
            <input type="text" class="form-control" placeholder="Enter Name" formControlName="name" >
            
          </div>
           <div class="mb-3">
              <label  class="form-label">Password</label>
              <input type="password" class="form-control" placeholder="Enter Password" formControlName="password">
              
            </div>
         
          <button type="submit" class="btn btn-primary button">Login</button>
      </form>
</div>
